h1,
h5 {
  color: white;
  background-color: rgb(2, 55, 98);
}

.header {
  background-color: rgb(2, 55, 98);
}

.arrow {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
